%p
  %a(href="#{$_SERVER['PHP_SELF']}?new=1")
    %img(src="icn/plus-button.png" title="New" alt="New")
    New Text &hellip;

- render_('texts/_filter', compact('filter', 'recno', 'pages'))

- if ( $recno == 0 )
  %p No texts found.
- else
  %form{:action => "#{$_SERVER['PHP_SELF']}", :method => "post", :name => "form2"}
    %input{:name => "data", :type => "hidden", :value => ""}
      %table.tab1{:cellpadding => "5", :cellspacing => "1"}
        %tr
          %th.th1{:colspan => "2"}
            Multi Actions
            %img{:alt => "Multi Actions", :src => "icn/lightning.png", :title => "Multi Actions"}
        %tr
          %td.td1.center
            %input{:onclick => "selectToggle(true,'form2');", :type => "button", :value => "Mark All"}
              %input{:onclick => "selectToggle(false,'form2');", :type => "button", :value => "Mark None"}
          %td.td1.center
            Marked Texts:
            %select#markaction{:disabled => "disabled", :name => "markaction", :onchange => "multiActionGo(document.form2, document.form2.markaction);"}
              = get_multipletextactions_selectoptions()

      %table.sortable.tab1{:cellpadding => "5", :cellspacing => "1"}
        %tr
          %th.th1.sorttable_nosort Mark
          %th.th1.sorttable_nosort Read &amp; Test
          %th.th1.sorttable_nosort Actions

          - if ($filter['language'] == '')
            %th.th1.clickable Lang.

          %th.th1.clickable Title [Tags] / Audio?
          %th.th1.sorttable_numeric.clickable Total Words
          %th.th1.sorttable_numeric.clickable Saved Wo+Ex
          %th.th1.sorttable_numeric.clickable Unkn. Words
          %th.th1.sorttable_numeric.clickable Unkn. %

        - foreach ( $records as $record )
          %tr
            / Mark
            %td.td1.center
              %a{:name => "rec#{$record['TxID']}"}
                <input name="marked[]" class="markcheck" type="checkbox" value="#{$record['TxID']}"
                = checkTest($record['TxID'], 'marked')

            / Read & Test
            %td.td1.center{:nowrap => "nowrap"}

              %a{:href => "do_text.php?start=#{$record['TxID']}"}
                %img{:alt => "Read", :src => "icn/book-open-bookmark.png", :title => "Read"}

              %a{:href => "do_test.php?text=#{$record['TxID']}"}
                %img{:alt => "Test", :src => "icn/question-balloon.png", :title => "Test"}


            / Actions
            %td.td1.center{:nowrap => "nowrap"}

              %a{:href => "print_text.php?text=#{$record['TxID']}"}
                %img{:alt => "Print", :src => "icn/printer.png", :title => "Print"}

              %a{:href => "#{$_SERVER['PHP_SELF']}?arch=#{$record['TxID']}"}
                %img{:alt => "Archive", :src => "icn/inbox-download.png", :title => "Archive"}

              %a{:href => "#{$_SERVER['PHP_SELF']}?chg=#{$record['TxID']}"}
                %img{:alt => "Edit", :src => "icn/document--pencil.png", :title => "Edit"}

              %span.click{:onclick => "if ( confirm('Are you sure?') ) location.href = '#{$_SERVER['PHP_SELF']}?del=#{$record['TxID']}';"}
                %img{:alt => "Delete", :src => "icn/minus-button.png", :title => "Delete"}/


            / Language
            - if ( $filter['language'] == '' )
              %td.td1.center= $record['LgName']

            / Title, Tags, Audio
            %td.td1.center
              = $record['TxTitle']

              %span.smallgray2= $record['taglist']

              - if ( $record['audio'] != '' )
                %img{:alt => "With Audio", :src => "icn/speaker-volume.png", :title => "With Audio"}

            - if ( $showCounts )
              %td.td1.center
                %span{:title => "Total"}= $record['total_words']

              %td.td1.center
                %span.status4{:title => "Saved"}
                  - if ( $record['worked_all'] > 0 )
                    %a{:href => "edit_words.php?page=1&query=&status=&tag12=0&tag2=&tag1=&text=#{$record['TxID']}"}
                      = $record['worked_words'] . '+' . $record['worked_expr']
                  - else
                    0

              %td.td1.center
                %span.status0{:title => "Unknown"}= $record['todo_words']

              %td.td1.center
                %span{:title => "Unknown (%)"}= $record['percent_unknown']

            - else
              %td.td1.center
                %span{:id => "total-#{$record['TxID']}"}

              %td.td1.center
                %span{"data-id" => "#{$record['TxID']}", :id => "saved-#{$record['TxID']}"}
                %span.click{:onclick => "do_ajax_word_counts();"}
                  %img{:alt => "View Word Counts", :src => "icn/lightning.png", :title => "View Word Counts"}

              %td.td1.center
                %span{:id => "todo-#{$record['TxID']}"}

              %td.td1.center
                %span{:id => "todop-#{$record['TxID']}"}

  - if ( $pages > 1 )
    %table.tab1(cellspacing="1" cellpadding="5")
      %tr
        %th.th1(nowrap="nowrap")
          #{$recno} Text#{ ( $recno == 1 ? '' : 's' ) }

        %th.th1(nowrap="nowrap")
          - makePager($filter['page'], $pages, 'edit_texts.php', 'form1')

%p
  %input(type="button" value="Archived Texts" onclick="location.href = 'edit_archivedtexts.php?query=&amp;page=1';")